# This is a comment
# Each line is a file pattern followed by one or more owners

# Specify a default owner for the entire repository
*       @dsandovich

# Specify owners for specific directories
# /docs/  @docs-team
# /src/   @dev-team

# Specify owners for specific files
# README.md   @project-lead
# config.yml  @config-manager

# Specify owners for files with specific extensions
# *.js    @javascript-team
# *.py    @python-team

# Specify owners for files in a specific directory with a specific extension
# /scripts/*.sh  @script-maintainers